@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
  font-family: "San Francisco";
}

td {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 1rem;
  padding-right: 1rem;
}

tr:hover #actions {
  display: block !important;
}